In [238]:
#%pip install scikit-learn

In [239]:
# imports
import pandas as pd
import os
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [240]:
# Use raw string (r"") or double backslashes to avoid path issues
file_path = r"C:\Users\yaniv\OneDrive\Desktop\Datathon\Hackaton0404\ED_full_data.csv"

# Read the CSV file
df = pd.read_csv(file_path)

In [241]:
processed = df.copy()
processed['timestamp'] = pd.to_datetime(df['timestamp'], utc=True, format='mixed')
processed['clean_timestamp'] = processed['timestamp'].dt.strftime('%Y-%m-%d %H:%M:%S') #Without utc and microseconds

In [242]:
processed = df.copy()
processed['timestamp'] = pd.to_datetime(df['timestamp'], utc=True, format='mixed')
processed['clean_timestamp'] = processed['timestamp'].dt.strftime('%Y-%m-%d %H:%M:%S') #Without utc and microseconds

In [243]:
print(processed['clean_timestamp'].head())
print(processed['clean_timestamp'].tail())

0    2023-11-08 08:12:03
1    2023-11-08 08:12:03
2    2024-03-18 10:08:57
3    2024-03-18 10:08:58
4    2024-03-18 13:54:53
Name: clean_timestamp, dtype: object
463892    2025-01-23 10:07:21
463893    2025-01-23 10:10:50
463894    2025-01-23 10:14:00
463895    2025-01-23 10:14:00
463896    2025-01-23 10:14:01
Name: clean_timestamp, dtype: object

In [244]:
# Create date and time columns
processed['clean_timestamp'] = pd.to_datetime(processed['clean_timestamp'])
processed['date'] = processed['clean_timestamp'].dt.date
processed['time'] = processed['clean_timestamp'].dt.time
print(processed['time'].head())
print(processed['date'].head())

0    08:12:03
1    08:12:03
2    10:08:57
3    10:08:58
4    13:54:53
Name: time, dtype: object
0    2023-11-08
1    2023-11-08
2    2024-03-18
3    2024-03-18
4    2024-03-18
Name: date, dtype: object

In [245]:
# Remove old columns
processed = processed.drop(columns=['clean_timestamp', 'timestamp'], axis=1)

In [246]:
processed

,department,room,requirement,status,date,time
0,מיון כירורגיה - מ.הלכים,חדר הלם,רמת דחיפות,4,2023-11-08,08:12:03
1,מיון פנימי,מיון קורונה ב`,רמת דחיפות,3,2023-11-08,08:12:03
2,A,A104,ניקיון تنظيف,satisfied,2024-03-18,10:08:57
3,A,A104,ניקיון تنظيف,required,2024-03-18,10:08:58
4,טראומה חדש,T5,כח עזר - אוכל,satisfied,2024-03-18,13:54:53
...,...,...,...,...,...,...
463892,A,A114,בדיקת רופא,satisfied,2025-01-23,10:07:21
463893,C,C316,בדיקת רופא,satisfied,2025-01-23,10:10:50
463894,A,A104,בדיקת דם,required,2025-01-23,10:14:00
463895,A,A104,תפוס,required,2025-01-23,10:14:00
463896,A,A104,בדיקת רופא,required,2025-01-23,10:14:01

In [247]:
# Convert to datetime
processed['date'] = pd.to_datetime(processed['date'])

In [248]:
processed

,department,room,requirement,status,date,time
0,מיון כירורגיה - מ.הלכים,חדר הלם,רמת דחיפות,4,2023-11-08,08:12:03
1,מיון פנימי,מיון קורונה ב`,רמת דחיפות,3,2023-11-08,08:12:03
2,A,A104,ניקיון تنظيف,satisfied,2024-03-18,10:08:57
3,A,A104,ניקיון تنظيف,required,2024-03-18,10:08:58
4,טראומה חדש,T5,כח עזר - אוכל,satisfied,2024-03-18,13:54:53
...,...,...,...,...,...,...
463892,A,A114,בדיקת רופא,satisfied,2025-01-23,10:07:21
463893,C,C316,בדיקת רופא,satisfied,2025-01-23,10:10:50
463894,A,A104,בדיקת דם,required,2025-01-23,10:14:00
463895,A,A104,תפוס,required,2025-01-23,10:14:00
463896,A,A104,בדיקת רופא,required,2025-01-23,10:14:01

In [249]:
# Extract year, month, day
processed['day'] = processed['date'].dt.day
processed['month'] = processed['date'].dt.month
processed['year'] = processed['date'].dt.year

In [250]:
processed

,department,room,requirement,status,date,time,day,month,year
0,מיון כירורגיה - מ.הלכים,חדר הלם,רמת דחיפות,4,2023-11-08,08:12:03,8,11,2023
1,מיון פנימי,מיון קורונה ב`,רמת דחיפות,3,2023-11-08,08:12:03,8,11,2023
2,A,A104,ניקיון تنظيف,satisfied,2024-03-18,10:08:57,18,3,2024
3,A,A104,ניקיון تنظيف,required,2024-03-18,10:08:58,18,3,2024
4,טראומה חדש,T5,כח עזר - אוכל,satisfied,2024-03-18,13:54:53,18,3,2024
...,...,...,...,...,...,...,...,...,...
463892,A,A114,בדיקת רופא,satisfied,2025-01-23,10:07:21,23,1,2025
463893,C,C316,בדיקת רופא,satisfied,2025-01-23,10:10:50,23,1,2025
463894,A,A104,בדיקת דם,required,2025-01-23,10:14:00,23,1,2025
463895,A,A104,תפוס,required,2025-01-23,10:14:00,23,1,2025
463896,A,A104,בדיקת רופא,required,2025-01-23,10:14:01,23,1,2025

In [251]:
# Extract hour, minute and seconds
processed['time'] = pd.to_datetime(processed['time'], format='%H:%M:%S').dt.time
processed['hours'] =  processed['time'].apply(lambda x: x.hour)
processed['minutes'] = processed['time'].apply(lambda x: x.minute)
processed['seconds'] = processed['time'].apply(lambda x: x.second)

In [252]:
processed

,department,room,requirement,status,date,time,day,month,year,hours,minutes,seconds
0,מיון כירורגיה - מ.הלכים,חדר הלם,רמת דחיפות,4,2023-11-08,08:12:03,8,11,2023,8,12,3
1,מיון פנימי,מיון קורונה ב`,רמת דחיפות,3,2023-11-08,08:12:03,8,11,2023,8,12,3
2,A,A104,ניקיון تنظيف,satisfied,2024-03-18,10:08:57,18,3,2024,10,8,57
3,A,A104,ניקיון تنظيف,required,2024-03-18,10:08:58,18,3,2024,10,8,58
4,טראומה חדש,T5,כח עזר - אוכל,satisfied,2024-03-18,13:54:53,18,3,2024,13,54,53
...,...,...,...,...,...,...,...,...,...,...,...,...
463892,A,A114,בדיקת רופא,satisfied,2025-01-23,10:07:21,23,1,2025,10,7,21
463893,C,C316,בדיקת רופא,satisfied,2025-01-23,10:10:50,23,1,2025,10,10,50
463894,A,A104,בדיקת דם,required,2025-01-23,10:14:00,23,1,2025,10,14,0
463895,A,A104,תפוס,required,2025-01-23,10:14:00,23,1,2025,10,14,0
463896,A,A104,בדיקת רופא,required,2025-01-23,10:14:01,23,1,2025,10,14,1

In [253]:
processed['requirement'].unique()

array(['רמת דחיפות', 'ניקיון تنظيف', 'כח עזר - אוכל', 'כח עזר - שונות',
       'צר"פ', 'כביסה', 'כח עזר - סיוע למטופל', 'תפוס', 'בדיקת דם',
       'בדיקת אק"ג', 'יעוץ', 'נקיון - החלפת פרגוד', 'נקיון - בידוד',
       'בדיקת רופא'], dtype=object)

In [254]:
# Label Encoding
encoder = LabelEncoder()
processed['requirements_category'] = encoder.fit_transform(processed['requirement'])

In [255]:
# Label mapping
category_mapping = dict(zip(encoder.classes_, encoder.transform(encoder.classes_)))
print("\nCategory to Label Mapping:")
print(category_mapping)

Category to Label Mapping:
{'בדיקת אק"ג': np.int64(0), 'בדיקת דם': np.int64(1), 'בדיקת רופא': np.int64(2), 'יעוץ': np.int64(3), 'כביסה': np.int64(4), 'כח עזר - אוכל': np.int64(5), 'כח עזר - סיוע למטופל': np.int64(6), 'כח עזר - שונות': np.int64(7), 'ניקיון تنظيف': np.int64(8), 'נקיון - בידוד': np.int64(9), 'נקיון - החלפת פרגוד': np.int64(10), 'צר"פ': np.int64(11), 'רמת דחיפות': np.int64(12), 'תפוס': np.int64(13)}

In [256]:
# Move new column next to requirements column
cols = list(processed.columns)
cols.remove('requirements_category')  # Remove column 'C'
cols.insert(3, 'requirements_category')  # Insert column 'C' after 'A'
processed = processed[cols]
processed

,department,room,requirement,requirements_category,status,date,time,day,month,year,hours,minutes,seconds
0,מיון כירורגיה - מ.הלכים,חדר הלם,רמת דחיפות,12,4,2023-11-08,08:12:03,8,11,2023,8,12,3
1,מיון פנימי,מיון קורונה ב`,רמת דחיפות,12,3,2023-11-08,08:12:03,8,11,2023,8,12,3
2,A,A104,ניקיון تنظيف,8,satisfied,2024-03-18,10:08:57,18,3,2024,10,8,57
3,A,A104,ניקיון تنظيف,8,required,2024-03-18,10:08:58,18,3,2024,10,8,58
4,טראומה חדש,T5,כח עזר - אוכל,5,satisfied,2024-03-18,13:54:53,18,3,2024,13,54,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
463892,A,A114,בדיקת רופא,2,satisfied,2025-01-23,10:07:21,23,1,2025,10,7,21
463893,C,C316,בדיקת רופא,2,satisfied,2025-01-23,10:10:50,23,1,2025,10,10,50
463894,A,A104,בדיקת דם,1,required,2025-01-23,10:14:00,23,1,2025,10,14,0
463895,A,A104,תפוס,13,required,2025-01-23,10:14:00,23,1,2025,10,14,0
463896,A,A104,בדיקת רופא,2,required,2025-01-23,10:14:01,23,1,2025,10,14,1

## Remove empty rows

In [257]:
# Remove all rows with any empty (NaN) cells
processed = processed.dropna()

processed

df = processed

## Change room values

In [258]:
unique_rooms = df['room'].unique()

print(unique_rooms)

['חדר הלם' 'מיון קורונה ב`' 'A104' 'T5' 'T6' 'T2' 'T3' 'T4' 'A113' 'A111'
 'חדר גבס 5' 'A117' 'A109' 'A108' 'A107' 'A106' 'A112' 'A114' 'A115'
 'A116' 'A101' 'A102' 'A103' 'A105' 'A110' 'C309' 'C310' 'C303' 'C306'
 'C307' 'C301' 'C315' 'C304' 'C316' 'B204' 'B210' 'B206' 'B203' 'B202'
 'B214' 'C302' 'B201' 'C320' '431' 'טריאז 3' 'טריאז 2' 'דמים' 'T1' 'B217'
 'B209' 'טריאז 1' '404-405' '403' 'B205' 'B216' 'C312' 'המתנה כללי'
 '404/405' '418' 'חדר ספטי 9' 'המתנה פנימי' 'חדר בידוד 1' 'חדר טיפולים 7'
 '117' 'ממתין להחלטה' 'עיניים' '9' '21' '18' '39' 'ממתין למכתב שחרור'
 'ממתין ליעוץ' '50' '2' '23' '30' '7' '28' '16' '12' 'ממתין לבדיקות מעבדה'
 '15' '3' '17' 'חדר בידוד' '8' '19' '6' '29' '4' '13' '14' 'צילום' ' '
 'CT' 'B213' '215' '24' 'B215' 'אורולוג' '201' 'ממתין לאשפוז' 'C318' '415'
 'C321' '1' '27' '25' 'רופא מהלכים 4' '10' '26' '22' 'ממתין לתשובת הדמיה'
 '11' 'א.א.ג.' 'חדר גבס' 'נשים' '101' 'רופא מהלכים 3' '63' 'US'
 'רופא מהלכים 1' '61' '20' '62' '5' '55' '109' '203' '208' '214' 'B208'
 'C308' 'א.ק.ג' '202' '310' '427/428' '314' 'DR1' 'C314' '429/430'
 'חדר גבס 4' '425-426' '102' '309' 'חדר גבס 2' 'DR2' '301' 'חדר הלם 5'
 '209' '319' '216' '60' 'מיון פנימי' '57' 'א.א.ג' 'חדר תפירה' '56'
 'ממתין להדמיה' 'B212' 'B211' '59' 'נוירולוג' '58' 'C319' 'דיאליזה'
 '39-נשימתי' '105' '302' 'חדר המתנה' '411' '429-430' '116' '303' '401'
 'חדר צוות' 'C311' '114' '217' '110' '306' 'חדר הלם 4' 'C305' '213'
 'משרד קבלה' 'חדר סמינרים' '315' '307' '113' '104' '107' '212' '204'
 '427-428' '304' '112' '205' '305' '311' '103' 'C313' '211' '115'
 'חדר טיפולים 6' '111' 'C317' '318' '108' '308' '210' '207' '316' 'B207'
 '106' '317' '206' '417' '321' '320' '313' '312' '419/420' 'בידוד 2' '402'
 'חדר גבס 1' 'חדר בידוד 2' '409' '425' '424' '426' '413' '406' '414' '412'
 '421' '410' '423' 'בידוד 1' 'חדר טיפולים 8' 'חדר הלם 2' '408' '407'
 'חדר הלם 3' 'חדם הלם 1' '419-420' 'חדר תרופות' 'המתנה אורטופדי'
 'ציוד רפואי' '416' 'ייעוץ' 'הדמיה' 'חדר רופא 12' 'חדר רופא 14'
 'חדר רופא 13' 'חדר רופא 15' 'חדר תפירה 6' 'חדר רופא 16' 'מסחן שוכבים'
 'חדר תפירה 7']

In [259]:
# Create a dictionary mapping non-numeric values to unique integers
room_mapping = {value: i for i, value in enumerate(unique_rooms, 1)}

# Opt into the future behavior
pd.set_option('future.no_silent_downcasting', True)

df.loc[:, 'room'] = df['room'].replace(room_mapping)

In [260]:
df

,department,room,requirement,requirements_category,status,date,time,day,month,year,hours,minutes,seconds
0,מיון כירורגיה - מ.הלכים,1,רמת דחיפות,12,4,2023-11-08,08:12:03,8,11,2023,8,12,3
1,מיון פנימי,2,רמת דחיפות,12,3,2023-11-08,08:12:03,8,11,2023,8,12,3
2,A,3,ניקיון تنظيف,8,satisfied,2024-03-18,10:08:57,18,3,2024,10,8,57
3,A,3,ניקיון تنظيف,8,required,2024-03-18,10:08:58,18,3,2024,10,8,58
4,טראומה חדש,4,כח עזר - אוכל,5,satisfied,2024-03-18,13:54:53,18,3,2024,13,54,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
463892,A,18,בדיקת רופא,2,satisfied,2025-01-23,10:07:21,23,1,2025,10,7,21
463893,C,34,בדיקת רופא,2,satisfied,2025-01-23,10:10:50,23,1,2025,10,10,50
463894,A,3,בדיקת דם,1,required,2025-01-23,10:14:00,23,1,2025,10,14,0
463895,A,3,תפוס,13,required,2025-01-23,10:14:00,23,1,2025,10,14,0
463896,A,3,בדיקת רופא,2,required,2025-01-23,10:14:01,23,1,2025,10,14,1

In [267]:
df.loc[:, 'room'] = df['room'].astype(int)

In [268]:
non_numeric_values = df['room'][df['room'].apply(lambda x: not isinstance(x, (int, float)))].unique()

# Print the non-numeric values
print(non_numeric_values)

nan_values = df['room'][df['room'].isna()]

# Print the rows with NaN values
print(nan_values)

[]
Series([], Name: room, dtype: int64)

In [269]:
df

,department,room,requirement,requirements_category,status,date,time,day,month,year,hours,minutes,seconds
0,מיון כירורגיה - מ.הלכים,1,רמת דחיפות,12,4,2023-11-08,08:12:03,8,11,2023,8,12,3
1,מיון פנימי,2,רמת דחיפות,12,3,2023-11-08,08:12:03,8,11,2023,8,12,3
2,A,3,ניקיון تنظيف,8,satisfied,2024-03-18,10:08:57,18,3,2024,10,8,57
3,A,3,ניקיון تنظيف,8,required,2024-03-18,10:08:58,18,3,2024,10,8,58
4,טראומה חדש,4,כח עזר - אוכל,5,satisfied,2024-03-18,13:54:53,18,3,2024,13,54,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...
463892,A,18,בדיקת רופא,2,satisfied,2025-01-23,10:07:21,23,1,2025,10,7,21
463893,C,34,בדיקת רופא,2,satisfied,2025-01-23,10:10:50,23,1,2025,10,10,50
463894,A,3,בדיקת דם,1,required,2025-01-23,10:14:00,23,1,2025,10,14,0
463895,A,3,תפוס,13,required,2025-01-23,10:14:00,23,1,2025,10,14,0
463896,A,3,בדיקת רופא,2,required,2025-01-23,10:14:01,23,1,2025,10,14,1