In [ ]:
#%pip install

In [5]:
import pandas as pd

In [18]:
# Use raw string (r"") or double backslashes to avoid path issues
file_path = r"C:\Users\yaniv\OneDrive\Desktop\Datathon\Hackaton0404\ED_full_data.csv"

# Read the CSV file
df = pd.read_csv(file_path)

In [19]:
# Data length
len(df)

463897

In [20]:
empty_rows = df[df.isna().any(axis=1)]
print(empty_rows)

                     timestamp           department       room requirement  \
324     2024-05-13 05:42:00+00  מלרד טראומה בנין 16  חדר הלם 4  רמת דחיפות
663     2024-05-28 04:39:00+00  המחלקה לרפואה דחופה             רמת דחיפות
718     2024-05-28 06:38:00+00           מיון פנימי             רמת דחיפות
903     2024-05-28 11:40:00+00  המחלקה לרפואה דחופה             רמת דחיפות
950     2024-05-28 13:38:00+00  המחלקה לרפואה דחופה             רמת דחיפות
...                        ...                  ...        ...         ...
458042  2025-01-20 21:23:00+00              חדר הלם  חדר הלם 3  רמת דחיפות
458049  2025-01-20 21:26:00+00              חדר הלם  חדר הלם 2  רמת דחיפות
459806  2025-01-21 14:46:00+00              חדר הלם             רמת דחיפות
459820  2025-01-21 14:52:00+00        D מלרד מהלכים             רמת דחיפות
459854  2025-01-21 15:07:00+00              חדר הלם  חדר הלם 3  רמת דחיפות

       status
324       NaN
663       NaN
718       NaN
903       NaN
950       NaN
...       ...
458042    NaN
458049    NaN
459806    NaN
459820    NaN
459854    NaN

[601 rows x 5 columns]

In [21]:
# Drop null cells

df = df.dropna()

Empty DataFrame
Columns: [timestamp, department, room, requirement, status]
Index: []

In [27]:
df

,timestamp,department,room,requirement,status
0,2023-11-08 08:12:03.787+00,מיון כירורגיה - מ.הלכים,חדר הלם,רמת דחיפות,4
1,2023-11-08 08:12:03.787+00,מיון פנימי,מיון קורונה ב`,רמת דחיפות,3
2,2024-03-18 10:08:57.218644+00,A,A104,ניקיון تنظيف,satisfied
3,2024-03-18 10:08:58.083959+00,A,A104,ניקיון تنظيف,required
4,2024-03-18 13:54:53.606752+00,טראומה חדש,T5,כח עזר - אוכל,satisfied
...,...,...,...,...,...
463892,2025-01-23 10:07:21.914702+00,A,A114,בדיקת רופא,satisfied
463893,2025-01-23 10:10:50.11309+00,C,C316,בדיקת רופא,satisfied
463894,2025-01-23 10:14:00.298704+00,A,A104,בדיקת דם,required
463895,2025-01-23 10:14:00.298704+00,A,A104,תפוס,required
463896,2025-01-23 10:14:01.423535+00,A,A104,בדיקת רופא,required